html {
  background-color: #BDBCBD;
}

.container {
  background-color: #FFF;
  max-width: 80vw;
  margin: 0 auto;
}
.form-row {
  padding: 10px 0;
  margin: 10px;
  display: flex;
}

.form-row lable {
  padding-right: 10px;
}

.form-row input {
  flex: 1;
  margin-left: 5px;
}

.column-layout {
  max-width: 1300px;
  background-color: #FFF;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}

.main-column {
  flex: 3;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 3;
}
